In [1]:
import numpy as np
import pandas as pd

There are two approaches to implement feature scaling. One is standardization and second is Normalization. In this notebook Standardization has been implemented using StandardScaler and Normalization has been implemented using MinMaxScaler.

# Implementing Standardization using StandardScaler

In [2]:
data = pd.read_csv('D:/datasets/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
data.shape

(400, 5)

Just to implement standardization, UserId and Gender columns has been ignored. If we have to use gender column, it needs to be changed into
numerical data using OneHotEncoder as it is nominal categoriacal data.

In [4]:
dataset = data.iloc[:,2:]
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset.iloc[:,:-1], dataset.iloc[:,-1],test_size=0.1, random_state=100)

In [6]:
print(X_train.head(),'\n')
print("The shape is:",X_train.shape)

     Age  EstimatedSalary
136   20            82000
54    27            58000
75    34           112000
369   54            26000
258   58            95000

The shape is: (360, 2)

In [7]:
print(y_train.head(),'\n')
print("The shape is:",y_train.shape)

136    0
54     0
75     1
369    1
258    1
Name: Purchased, dtype: int64

The shape is: (360,)

In [8]:
X_test.shape

(40, 2)

In [9]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(X_train)

StandardScaler()

In [10]:
ss.mean_

array([3.74500000e+01, 7.03777778e+04])

In [11]:
X_train_transformed = ss.transform(X_train)
X_test_transformed = ss.transform(X_test)

In [12]:
X_train.head(2)

     Age  EstimatedSalary
136   20            82000
54    27            58000

In [13]:
X_train_transformed

array([[-1.66313927,  0.33735873],
       [-0.99597739, -0.35929028],
       [-0.3288155 ,  1.20817   ],
       [ 1.57736131, -1.28815562],
       [ 1.95859668,  0.71471028],
       [-0.8053597 , -0.79469591],
       [ 0.24303754,  2.07898126],
       [-0.90066854, -0.4463714 ],
       [-0.04288898, -0.50442549],
       [ 1.67267015,  1.73065676],
       [-0.90066854, -0.76566887],
       [ 0.1477287 , -0.82372295],
       [ 0.24303754,  0.22125057],
       [-0.23350666, -1.46231788],
       [ 1.00550827, -1.08496633],
       [ 0.1477287 , -0.33026323],
       [ 1.57736131,  1.09206183],
       [ 0.91019943, -0.62053366],
       [ 0.33834638,  0.25027761],
       [ 2.14921436, -0.82372295],
       [-0.23350666,  0.19222352],
       [ 0.91019943, -0.67858774],
       [ 0.1477287 ,  0.01806127],
       [-0.3288155 ,  0.04708831],
       [-1.09128623, -1.17204746],
       [ 0.24303754, -0.15610098],
       [ 0.91019943,  1.23719704],
       [ 0.33834638,  0.04708831],
       [-1.28190391, -1.37523675],
       [-0.04288898,  1.93384605],
       [-0.42412434, -0.85274999],
       [ 1.00550827,  1.7596838 ],
       [ 2.05390552,  0.36638578],
       [-1.66313927,  0.1051424 ],
       [-0.99597739, -0.35929028],
       [ 0.24303754,  0.01806127],
       [-1.47252159, -0.4463714 ],
       [-1.09128623,  0.27930465],
       [-0.04288898,  0.1051424 ],
       [-0.61474202, -0.06901986],
       [-1.28190391,  0.39541282],
       [-1.18659507,  0.25027761],
       [-1.28190391, -1.11399337],
       [ 0.43365523, -0.50442549],
       [-0.04288898,  0.04708831],
       [-0.3288155 , -0.79469591],
       [-1.56783043, -0.06901986],
       [-1.75844811, -1.28815562],
       [-1.66313927, -0.9978852 ],
       [ 0.91019943, -1.17204746],
       [ 0.05241986, -0.33026323],
       [ 0.1477287 ,  0.19222352],
       [ 1.19612595, -0.9978852 ],
       [-0.13819782, -0.47539845],
       [ 0.91019943,  1.0049807 ],
       [ 0.43365523, -0.18512802],
       [ 0.1477287 ,  0.74373732],
       [ 0.1477287 ,  0.01806127],
       [-1.47252159,  0.30833169],
       [-0.99597739,  0.39541282],
       [-0.23350666, -0.93983112],
       [ 0.43365523,  0.27930465],
       [-0.23350666, -0.35929028],
       [-0.23350666,  0.04708831],
       [ 1.10081711, -0.91080408],
       [-0.99597739, -0.38831732],
       [ 0.71958175, -1.40426379],
       [ 1.00550827, -1.2010745 ],
       [ 1.10081711,  0.4534669 ],
       [-0.8053597 ,  0.27930465],
       [ 1.48205247,  0.97595366],
       [-0.99597739, -1.46231788],
       [-0.61474202,  0.16319648],
       [-0.71005086, -0.24318211],
       [ 0.62427291,  1.99190014],
       [-0.71005086,  0.27930465],
       [-0.8053597 ,  0.13416944],
       [ 1.95859668, -0.93983112],
       [-0.99597739,  1.93384605],
       [ 1.95859668,  0.88887253],
       [ 0.05241986,  1.20817   ],
       [-1.37721275, -1.46231788],
       [-0.3288155 ,  1.29525112],
       [-0.99597739, -0.47539845],
       [ 0.43365523,  1.09206183],
       [-0.51943318,  0.85984549],
       [ 1.10081711, -0.9978852 ],
       [-0.13819782,  0.13416944],
       [-0.51943318,  1.35330521],
       [-1.09128623,  0.30833169],
       [-0.23350666,  0.77276437],
       [ 1.86328784,  1.49844042],
       [-0.04288898, -0.38831732],
       [-0.71005086,  0.48249394],
       [ 1.10081711, -1.23010154],
       [-0.23350666, -1.40426379],
       [-0.23350666, -1.25912858],
       [-0.04288898,  0.13416944],
       [-0.99597739, -1.14302041],
       [ 1.19612595, -0.76566887],
       [ 1.00550827,  0.1051424 ],
       [-1.09128623,  0.27930465],
       [ 0.81489059, -1.40426379],
       [-1.09128623, -1.60745309],
       [ 0.81489059,  0.1051424 ],
       [-0.13819782, -0.30123619],
       [-1.28190391, -0.35929028],
       [-0.04288898,  0.19222352],
       [ 1.48205247, -1.05593929],
       [ 1.10081711,  0.54054803],
       [ 0.33834638, -1.17204746],
       [-0.42412434, -0.56247957],
       [ 1.10081711, -1.23010154],
       [ 2.05390552,  2.1080083 ],
       [-1.75844811, -1.43329084],
       [-0.71005086, -1.549399  ],
       [ 0.43365523, -0.47539845],
       [-1.18659507,  0.56957507],
       [-0.23350666, -0.33026323],
       [ 1.48205247,  0.33735873],
       [-0.99597739, -1.549399  ],
       [ 1.767979  ,  1.81773788],
       [-1.56783043, -1.57842605],
       [-0.71005086,  1.87579197],
       [ 0.52896407,  1.70162971],
       [-0.13819782,  1.38233225],
       [-0.23350666, -0.50442549],
       [ 0.71958175,  1.7596838 ],
       [ 0.1477287 ,  0.07611535],
       [-1.18659507,  0.48249394],
       [-1.28190391, -1.25912858],
       [ 0.71958175, -0.73664182],
       [ 0.05241986, -0.4463714 ],
       [ 0.43365523, -0.15610098],
       [ 0.24303754, -0.38831732],
       [-0.23350666, -0.27220915],
       [-0.61474202,  1.38233225],
       [-0.51943318,  1.87579197],
       [-0.42412434, -0.03999281],
       [-0.8053597 ,  0.36638578],
       [ 0.33834638,  0.01806127],
       [ 0.24303754, -0.67858774],
       [ 0.43365523,  0.56957507],
       [ 0.33834638, -0.53345253],
       [-0.61474202, -1.52037196],
       [ 1.95859668, -0.67858774],
       [-1.75844811, -1.31718267],
       [ 0.05241986, -0.59150661],
       [ 0.33834638,  0.04708831],
       [-0.04288898, -1.08496633],
       [-0.04288898,  0.01806127],
       [ 0.24303754, -0.30123619],
       [-1.18659507, -1.40426379],
       [ 1.95859668, -1.37523675],
       [ 2.14921436, -1.05593929],
       [-1.37721275, -1.23010154],
       [ 0.1477287 ,  1.49844042],
       [ 1.00550827,  1.41135929],
       [ 1.00550827,  1.96287309],
       [ 1.48205247,  0.04708831],
       [-1.37721275, -0.12707394],
       [ 0.24303754, -0.38831732],
       [-0.90066854, -0.96885816],
       [ 1.38674363,  0.56957507],
       [ 0.05241986, -0.27220915],
       [-0.71005086, -0.62053366],
       [-0.90066854, -1.11399337],
       [ 1.10081711, -0.15610098],
       [ 2.14921436,  0.36638578],
       [-0.23350666,  0.51152099],
       [ 1.29143479,  1.84676492],
       [ 0.24303754,  0.13416944],
       [-1.85375695, -0.76566887],
       [ 0.91019943,  2.13703535],
       [ 0.05241986, -0.27220915],
       [ 0.33834638,  0.48249394],
       [-0.23350666,  1.09206183],
       [ 2.05390552, -1.2010745 ],
       [ 1.48205247,  2.1080083 ],
       [-0.23350666, -0.59150661],
       [ 0.33834638, -0.30123619],
       [-0.61474202, -1.05593929],
       [-0.90066854,  0.42443986],
       [ 0.43365523, -0.01096577],
       [-1.28190391, -0.4463714 ],
       [ 1.00550827, -0.85274999],
       [ 0.52896407,  1.20817   ],
       [ 1.38674363,  1.96287309],
       [-0.90066854, -0.33026323],
       [-1.09128623, -0.53345253],
       [ 0.71958175,  0.25027761],
       [-1.09128623,  0.4534669 ],
       [ 1.86328784, -1.08496633],
       [-0.90066854,  0.54054803],
       [ 0.91019943, -1.46231788],
       [-0.13819782, -0.53345253],
       [ 0.1477287 , -0.82372295],
       [-0.04288898,  0.27930465],
       [ 1.767979  , -0.30123619],
       [ 1.00550827,  1.84676492],
       [-0.23350666,  2.22411647],
       [-1.66313927, -0.62053366],
       [ 0.05241986,  0.01806127],
       [ 0.81489059, -0.33026323],
       [ 1.00550827,  2.04995422],
       [-0.23350666,  0.13416944],
       [-0.23350666,  0.25027761],
       [-0.51943318, -1.52037196],
       [-0.23350666, -0.30123619],
       [-0.23350666,  0.59860211],
       [ 0.81489059,  0.74373732],
       [ 1.10081711,  2.04995422],
       [-1.28190391,  0.54054803],
       [ 0.43365523,  0.13416944],
       [-0.61474202, -0.35929028],
       [-0.04288898, -0.4463714 ],
       [ 0.33834638,  0.04708831],
       [ 1.29143479, -1.37523675],
       [ 0.81489059,  0.51152099],
       [ 1.00550827,  0.74373732],
       [ 0.81489059, -1.37523675],
       [-0.8053597 ,  2.25314351],
       [-0.8053597 , -0.27220915],
       [ 0.91019943, -1.05593929],
       [ 0.91019943,  1.06303479],
       [-1.47252159, -1.25912858],
       [ 0.24303754, -0.27220915],
       [-0.99597739,  0.56957507],
       [-0.3288155 , -1.31718267],
       [-0.51943318,  1.35330521],
       [ 0.24303754,  1.06303479],
       [-0.42412434,  1.23719704],
       [-0.13819782,  1.58552155],
       [-0.90066854,  0.25027761],
       [ 2.05390552,  1.73065676],
       [-0.90066854,  0.39541282],
       [-1.09128623, -1.60745309],
       [-0.99597739,  0.74373732],
       [-0.23350666, -0.91080408],
       [ 1.00550827,  0.56957507],
       [-0.90066854, -0.33026323],
       [ 0.05241986,  0.01806127],
       [ 2.14921436,  0.91789958],
       [ 0.33834638,  0.27930465],
       [-1.37721275,  0.33735873],
       [ 0.05241986,  0.27930465],
       [-1.66313927,  0.4534669 ],
       [ 0.91019943, -1.31718267],
       [-0.23350666, -0.59150661],
       [ 0.33834638, -0.21415507],
       [ 1.767979  ,  0.97595366],
       [ 1.00550827, -1.08496633],
       [-0.04288898, -0.24318211],
       [-0.04288898,  2.13703535],
       [-0.99597739,  0.54054803],
       [-0.13819782, -0.21415507],
       [-1.66313927,  0.33735873],
       [-0.23350666,  0.13416944],
       [ 0.24303754,  0.13416944],
       [-1.85375695,  0.4534669 ],
       [ 1.67267015,  1.58552155],
       [ 1.10081711,  0.51152099],
       [-0.23350666, -0.15610098],
       [-0.04288898,  2.19508943],
       [-0.71005086,  0.25027761],
       [ 0.81489059, -1.11399337],
       [ 0.91019943, -0.59150661],
       [ 0.62427291, -0.91080408],
       [ 0.33834638,  0.04708831],
       [-0.51943318,  0.4534669 ],
       [-0.04288898,  0.22125057],
       [-1.85375695, -0.53345253],
       [ 0.33834638, -0.33026323],
       [-0.04288898,  0.27930465],
       [ 0.43365523,  0.27930465],
       [-0.23350666, -0.76566887],
       [-1.56783043,  0.51152099],
       [ 1.00550827, -1.02691225],
       [-0.8053597 ,  0.36638578],
       [ 0.91019943, -0.79469591],
       [-1.09128623,  0.04708831],
       [-0.13819782,  2.13703535],
       [-0.42412434, -1.23010154],
       [ 0.81489059,  1.35330521],
       [-1.09128623, -1.57842605],
       [-0.23350666, -0.67858774],
       [ 0.05241986, -0.56247957],
       [ 2.14921436,  1.09206183],
       [ 1.38674363,  1.26622408],
       [ 2.05390552, -0.82372295],
       [ 0.43365523, -0.15610098],
       [-1.18659507,  0.27930465],
       [-0.42412434, -1.14302041],
       [-0.61474202, -0.12707394],
       [ 0.81489059, -0.85274999],
       [-1.75844811, -1.49134492],
       [ 1.86328784, -0.30123619],
       [ 1.57736131, -0.01096577],
       [-1.47252159, -0.21415507],
       [ 0.91019943, -1.37523675],
       [ 0.71958175, -1.28815562],
       [-0.61474202,  0.1051424 ],
       [-1.09128623, -1.02691225],
       [-0.51943318, -1.52037196],
       [-1.66313927, -1.37523675],
       [ 0.1477287 ,  1.03400774],
       [ 0.1477287 ,  1.84676492],
       [-0.8053597 , -0.79469591],
       [ 1.86328784, -1.28815562],
       [-1.09128623,  1.38233225],
       [-0.23350666, -0.38831732],
       [-0.23350666,  0.01806127],
       [-0.04288898,  0.25027761],
       [ 0.81489059,  0.33735873],
       [ 0.05241986, -0.59150661],
       [ 1.38674363, -1.43329084],
       [-0.61474202,  0.01806127],
       [-0.51943318,  1.44038633],
       [-1.56783043,  0.04708831],
       [-1.09128623, -0.79469591],
       [ 1.95859668,  2.13703535],
       [-0.04288898, -0.53345253],
       [-0.42412434, -0.79469591],
       [ 0.52896407,  1.81773788],
       [-0.23350666, -0.4463714 ],
       [-1.75844811, -0.01096577],
       [-0.61474202,  0.54054803],
       [-1.37721275, -0.21415507],
       [ 1.19612595, -1.46231788],
       [-0.71005086,  1.32427817],
       [-1.75844811,  0.16319648],
       [-0.99597739,  0.51152099],
       [ 1.38674363,  2.3111976 ],
       [ 1.29143479,  2.19508943],
       [-1.85375695, -0.06901986],
       [ 0.43365523,  0.97595366],
       [-0.61474202, -1.60745309],
       [-1.28190391, -0.4463714 ],
       [-0.8053597 , -1.23010154],
       [-0.71005086,  1.06303479],
       [-1.47252159, -1.52037196],
       [ 1.57736131,  0.97595366],
       [ 0.43365523,  0.25027761],
       [ 0.24303754,  0.04708831],
       [-0.71005086,  0.54054803],
       [-0.13819782, -1.08496633],
       [ 0.43365523,  2.28217056],
       [ 0.1477287 ,  1.84676492],
       [-1.85375695,  0.33735873],
       [-0.13819782,  1.61454859],
       [-1.28190391, -1.49134492],
       [-0.23350666, -1.37523675],
       [-0.13819782,  0.83081845],
       [ 0.05241986,  1.23719704],
       [-1.09128623, -1.549399  ],
       [ 0.91019943, -0.56247957],
       [ 0.43365523, -0.47539845],
       [ 1.00550827, -1.17204746],
       [ 2.05390552,  0.51152099],
       [-1.18659507, -1.08496633]])

In [14]:
#converting the numpy array into the dataframe so that we can use pandas .describe funtion to analyze a mean and,
#standard deviation
X_train_transformed = pd.DataFrame(X_train_transformed, columns=X_train.columns)
X_test_transformed = pd.DataFrame(X_test_transformed, columns=X_test.columns)

In [16]:
X_train_transformed.head(2)

        Age  EstimatedSalary
0 -1.663139         0.337359
1 -0.995977        -0.359290

Without Scaling, Mean = 37.4 (Age) and 70377.8 (EstimatedSalary) StandardDeviation = 10.5(Age) and 34498.6(EstimatedSalary) 
With Scaling, the mean of both features are 0 and standarddeviation are 1. This is what StandardScaling does. It makes the data
mean centric. Below, X_train_transformed.described() has showned that standardization has done its work.

The formula for StandardScaler is:

$$\left( \frac{Xi - Xmean}{XStandard Deviation} \right)$$

 
Below, .describe() has show the following after calculating through the same formula.

In [17]:
np.round(X_train.describe(),1)

         Age  EstimatedSalary
count  360.0            360.0
mean    37.4          70377.8
std     10.5          34498.6
min     18.0          15000.0
25%     29.0          43000.0
50%     37.0          70500.0
75%     46.0          88250.0
max     60.0         150000.0

In [18]:
np.round(X_train_transformed.describe(),1)

         Age  EstimatedSalary
count  360.0            360.0
mean    -0.0             -0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.0              0.0
75%      0.8              0.5
max      2.1              2.3

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
lr_normal = LogisticRegression()
lr_scaled = LogisticRegression()

In [25]:
lr_normal.fit(X_train,y_train)
lr_scaled.fit(X_train_transformed,y_train)

LogisticRegression()

In [30]:
normal_prediction = lr_normal.predict(X_test)
scaled_prediction = lr_scaled.predict(X_test_transformed)

Below, we can see the difference in an accuracy with and without scaling the features. After implementing the StandardScaler the accuracy has been improved.
Algorithms that calculates the distances
like KNN, Kmean, neural network (because of gradient descent) and linear model needs to be scaled. If we do not scale the 
features, a feature that has greater value will dominate the training of the model resulting in baisness.

In [31]:
from sklearn.metrics import accuracy_score
print("Accuracy without scaling", accuracy_score(y_test, normal_prediction))
print("Accuracy with scaling", accuracy_score(y_test, scaled_prediction))

Accuracy without scaling 0.55
Accuracy with scaling 0.775

There will be no affect of feature scaling to some of the algorithms like DecisionTree, XGboost. As decisiontree just compares
the values, scaling or without scaling, the result will be the same. Below, the accuracy of the decisiontree has not affect
of feature scaling.

In [36]:
from sklearn.tree import DecisionTreeClassifier
dt_normal = DecisionTreeClassifier()
dt_scaled = DecisionTreeClassifier()

In [38]:
dt_normal.fit(X_train,y_train)
dt_scaled.fit(X_train_transformed,y_train)

DecisionTreeClassifier()

In [40]:
dt_normal_prediction = dt_normal.predict(X_test)
dt_scaled_prediction = dt_scaled.predict(X_test_transformed)

In [42]:
print("Accuracy without scaling", accuracy_score(y_test, dt_normal_prediction))
print("Accuracy with scaling", accuracy_score(y_test, dt_scaled_prediction))

Accuracy without scaling 0.875
Accuracy with scaling 0.875

# Implementing Normalization using MinMaxScaler

Directly importing the wine.csv dataset from github using raw github data link.

In [49]:
data = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day25-normalization/wine_data.csv',
                   header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

Only selecting the 1st three columns to implement the MinMaxScaler.

In [63]:
dataset = data.iloc[:,0:3]
dataset.head()

   0      1     2
0  1  14.23  1.71
1  1  13.20  1.78
2  1  13.16  2.36
3  1  14.37  1.95
4  1  13.24  2.59

In [77]:
# df2_tidy = df2_melted.rename(columns = {'variable': 'Year', 'value': 'Income'}, inplace = False)
dataset = dataset.rename(columns={'0':'Class Label','1':'Alcohol','2':'Malic Acid'}, inplace=False)
dataset.head()

   Class Label  Alcohol  Malic Acid
0            1    14.23        1.71
1            1    13.20        1.78
2            1    13.16        2.36
3            1    14.37        1.95
4            1    13.24        2.59

In [80]:
dataset.shape

(178, 3)

In [79]:
Xtrain, Xtest, ytrain, ytest = train_test_split(dataset.drop('Class Label', axis=1), dataset['Class Label'], test_size = 0.1,
                                               random_state=10)
Xtrain.head()

     Alcohol  Malic Acid
110    11.46        3.74
163    12.96        3.45
1      13.20        1.78
160    12.36        3.83
47     13.90        1.68

In [84]:
print(Xtrain.shape,'\n',Xtest.shape)

(160, 2)
 (18, 2)

In [85]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
ms.fit(Xtrain)

MinMaxScaler()

In [86]:
Xtrain_scaled = ms.transform(Xtrain)
Xtest_scaled = ms.transform(Xtest)

In [92]:
Xtrain_scaled = pd.DataFrame(Xtrain_scaled, columns=Xtrain.columns)
Xtrain_scaled.head(2)

    Alcohol  Malic Acid
0  0.113158    0.592885
1  0.507895    0.535573

Implementing the MinMaxScaler() as a normalization, the minimum value has become 0 and the maximum value has become 1. The formula
for MinMaxScaler is 
$$\left( \frac{Xi - Xmin}{Xmax - Xmin} \right)$$
Below, .describe() has show the following after calculating through the same formula.

Xtrain.describe()

In [97]:
np.round(Xtrain_scaled.describe(),1)

       Alcohol  Malic Acid
count    160.0       160.0
mean       0.5         0.3
std        0.2         0.2
min        0.0         0.0
25%        0.4         0.2
50%        0.5         0.2
75%        0.7         0.5
max        1.0         1.0

MinMaxScaler can be preferred if we know the minimum and maximum value in advance. Best example can be of CNN where we know
minimum value is 0 and maximum value is 255. There are other types of normalization techniques as well. Some of them are Mean absolute scaling, Robust scaling, mean normalization. They have their own use as per the need.