In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('datasets/train.csv')
data.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [3]:
data.drop(['PassengerId','Ticket','Fare','Cabin','Name','Sex','Embarked'], axis=1, inplace=True)

In [4]:
data.iloc[10:14,:]

    Survived  Pclass   Age  SibSp  Parch
10         1       3   4.0      1      1
11         1       1  58.0      0      0
12         0       3  20.0      0      0
13         0       3  39.0      1      5

In [5]:
data['family'] = np.where(data['SibSp']+data['Parch']==0,0,
                          np.where((data['SibSp']+data['Parch']<4)&(data['SibSp']+data['Parch']>0),
                                   1,2))

In [6]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(strategy='mean')
data['Age']=si.fit_transform(data[['Age']])

In [7]:
new_data =data.drop(['SibSp','Parch'], axis=1)
new_data.iloc[10:14,:]

    Survived  Pclass   Age  family
10         1       3   4.0       1
11         1       1  58.0       0
12         0       3  20.0       0
13         0       3  39.0       2

In [8]:
data = data.iloc[:,0:5]
data.head(2)

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0

# Performance testing for new_data

In [9]:
new_data.shape

(891, 4)

In [10]:
print(891/6)

148.5

In [11]:
X = new_data.drop('Survived', axis=1)
y = new_data['Survived']
lr = LogisticRegression()
cv = StratifiedKFold(n_splits=6, random_state=1, shuffle=True)
cross = cross_val_score(lr,X,y,cv=cv)
print(cross.mean(), cross.max(), cross.min())

0.7003824294092751 0.7567567567567568 0.6577181208053692

In [12]:
X.head(1)

   Pclass   Age  family
0       3  22.0       1

In [13]:
Xx = data.drop('Survived', axis=1)
yy = data['Survived']
crosss = cross_val_score(lr,Xx,yy,cv=cv)
print(crosss.mean(), crosss.max(), crosss.min())

0.699233629602757 0.7364864864864865 0.6644295302013423

In [14]:
Xx.head(1)

   Pclass   Age  SibSp  Parch
0       3  22.0      1      0